div {
  width: 90vw;
  //justify-content: space-around;
  //align-items: center;
  //display: flex;
}

body {
  background: rgb(173, 239, 239);
}

nav {
  width: 100vw;
  height: 4rem;
  background: rgb(235, 145, 26);
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div a {
    margin: 4px;
  }
}

.logo {
  height: 60px;
  width: 60px;
  position: relative;
  margin-right: 10%;
}
